@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black dark:bg-black dark:text-white;
  font-family: theme("fontFamily.retro");
  text-transform: uppercase;
}

/* Botón con efecto retro */
.retro-button {
  @apply bg-retroBlue text-white border-4 border-black px-4 py-2 shadow-lg;
  transition: transform 0.1s ease-in-out;
}

.retro-button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px black;
}

.faq-link {
  color: #facc15; /* Amarillo brillante */
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Subrayado grueso */
  transition: color 0.2s ease-in-out;
}

.faq-link:hover {
  color: #fde047; /* Amarillo más claro al pasar el mouse */
}
